@import "tailwindcss";
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


body{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  /* font-style: normal; */
  background-color: #ECE3F0;
  /* height: 100vh; */
  /* align-content: center; */
  /* display: flex; */
}