.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: #D3BBDD;
  width:100%;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}


/* Desktop */
@media (min-width: 1024px) {
  .card {
    width: 40%;
  }
}

.button {
  background-color: #ECE3F0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1rem;

  &:hover{
    font-size: 1.2rem;
  }
}


.affirmation{
    font-size: 2rem;
}